flows_LAPTOP-7UQOL7PO.json
[{"id":"b12cde84.e6bf4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e808d6a0.cb40b8","type":"inject","z":"b12cde84.e6bf4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"adios mundo","payloadType":"str","x":180,"y":80,"wires":[["de2df57a.e50cf8"]]},{"id":"de2df57a.e50cf8","type":"debug","z":"b12cde84.e6bf4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":180,"wires":[]},{"id":"780d9480.827f0c","type":"inject","z":"b12cde84.e6bf4","name":"hola ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola mundo","payloadType":"str","x":150,"y":180,"wires":[["de2df57a.e50cf8"]]},{"id":"ea850859.449508","type":"inject","z":"b12cde84.e6bf4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2345","payloadType":"num","x":160,"y":280,"wires":[["f7ab1a14.5bcfc8"]]},{"id":"f7ab1a14.5bcfc8","type":"debug","z":"b12cde84.e6bf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":280,"wires":[]}]